@charset "UTF-8";
.sideMenu{
	width: 20%;
}
.sideMenu ul{
	padding-left:20px;
}
.sideMenu ul li a{
	display: block;
}
.content{
	width:80%;
	margin-left: 20%;
	padding-right: 3%;
}
.content .subject{
	justify-content: center;
	align-items: center;
	display: flex;
}
.content .subject ul{
	display: flex;
	text-align:center;
	width: 100%;
}
.content .subject ul li{
	text-align:center;
	width:100%;
	margin: 10px;
}

.content .list{
	justify-content:center;
	align-items: center;
}
.content .list ul{
	display: flex;
	justify-content:center;
}
.content .list ul li{
	text-align:center;
	width:100%;
	margin: 10px;
}
/* 파트너관리 상세 */

.content .detail{
	justify-content: center;
	width:100%;
	padding: 50px 0px;
}
.content .detail .detail_title{
	position:absolute;
	left:35%;
	text-align:left;
	padding-right: 30px;
}
.content .detail .detail_content{
	position: relative;
	width:100%;
	left: 55%;
	text-align: center;
}
.content .emailBtn{
	margin:30px 0px;
	text-align: center;
}
.content .emailBtn input{
	padding: 10px 60px;
}

/*문의 답변 페이지*/
ul.qnaList{
	padding: 0 10px;
}
ul.qnaList li{
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
}
ul.qnaList strong{
	width: 20%;
}
ul.qnaList span{
	width:100%
}
ul.qnaList span.regidate{
	width: 100%;
	text-align: right;
	opacity: 0.3;
}
.answer form{
	display: flex;
	height: 120px;
}
.answer textarea{
	width: 90%;
}
.answer input{
	width: 10%;
}
.qnaList.admin_a{
	background-color: #f8f9fa;
}
.qnaList.q{
	margin-bottom: 20px;
}
