@charset "UTF-8";
#SideMenu {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #95CEF7;
	padding: 30px 0;
	font-size: 1em;
}
#SideMenu h2{
	margin-bottom: 30px;
}
#SideMenu a{
	font-size: 1.2em;
	padding: 15px;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
 	 border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#SideMenu a:hover{
	background: #ABDEFB;
}
#adminContent {
	width: 80%;
	height: 100%;
}
#adminPageWrap {
	display:flex;
}

.qList.subject ul{
	background-color: #E3F7FE;
	padding: 10px 0px;
	margin: 10px 10px;
}
.admin_title{
	border-bottom: 5px solid #2F98ED;
    width: fit-content;
    margin: 1%;
    margin-bottom:4%;
    padding: 10px;
}
/* 파트너관리 상세 */
.content{
    padding-top: 30px;
	margin: 0 10%;
}
.content .detail_info{
    background-color: #F5F5F5;
    padding: 2% 1%;
    border-radius: 10px;
}
.content .detail_info .detail{
    align-items: center;
    display: flex;
    padding: 2% 3%;
    margin: 2% 3%;
    border-radius: 4px;
    background: #B0E7FC;
}


.detail_info .detail .detail_title{
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: center;
}
.detail_info .detail .detail_content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.detail_info .detail .detail_content img{
	width: 200px;
	height: 200px;
}
.content .adminBtn{
    margin: 50px 0px 20px 0px;
    text-align: center;
}
.adminBtn input {
	padding: 10px 40px;
    margin: 0px 20px;
    background: #51ABF3;
    color: #fff;
    border: 1px solid #51ABF3;
    border-radius: 4px;
}
@media screen and (max-width: 768px){
	.adminBtn{
	    display: flex;
    	flex-direction: column;
	}
	.adminBtn input{
	margin-bottom: 10px;
	}
}

/*문의 답변 페이지*/
ul.qnaList{
	padding: 0 10px;

}
ul.qnaList li{
	display: flex;
	justify-content: space-between;
	padding: 5px 0px;
}
ul.qnaList strong{
	width: 20%;
}
ul.qnaList span{
	width:100%
}
ul.qnaList span.regidate{
	width: 100%;
	text-align: right;
	opacity: 0.3;
}
.answer form{
	display: flex;
	height: 120px;
}
.answer textarea{
	width: 90%;
}
.answer input{
	width: 10%;
}
.qnaList.admin_a{
	background-color: #f8f9fa;
}
.qnaList.q{
	margin-bottom: 20px;
}
/*support 등록*/
.questionForm{
    margin: 3% 5%;
    padding: 2%;
	border-radius: 10px;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(33,37,41,.15)
}
.questionForm{

}
