.customer_btn{
    width: 80%;
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.customer_btn form{
    width: 80%;
}
section{
    width: 80%;
    margin: 0 auto;
}
section h2{
    text-align: center;
}

/*이용방법*/

#banner{
    width: 100%;
    text-align: center;
    background: aquamarine;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.howList{
    width: 100%;
    display: flex;
    margin-top: 30px;
}
.howList img{
    width: 50%;
}
.howList ul{
    width: 100%;
    padding-left: 35px;
}
.howList li{
    display: flex;
}
.how_footer{
    text-align: center;
    padding-top: 35px;
    border-top: #0c5460;
    margin-top: 35px;
}
.how_footer a{
    background-color: #0c5460;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    display: inline-block;
}


/*1:1 문의*/
.questionForm ul li{
    display: flex;
    margin: 10px 0px;
}
.questionForm ul li strong{
    width: 20%;
}
.questionForm ul li input,select{
    width: 100%;
}
.qa_submit{
    display: flex;
    justify-content: center;
}
.qa_submit input{
    margin: 0px 5px;
}

.qList ul{
    display: flex;
    justify-content: space-around;
}
.qList li{
    width: 100%;
    text-align: center;
}
.qList ul a{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
