.customer_nav{
    width: 80%;
    margin: 0 auto;
}
.customer_nav ul{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.customer_nav li{
    width: 50%;
    border: 1px solid peru;
    padding: 40px;
    box-sizing: border-box;
}
