@charset "UTF-8";
                                              
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap')
	;
#SideMenu {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #95CEF7;
	padding: 30px 0;
	font-size: 1em;
}
#SideMenu h3{
	margin-bottom: 30px;
}
#SideMenu a{
	font-size: 1.2em;
	padding: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#SideMenu a:hover{
	background: #ABDEFB;
}
#partnerContent {
	width: 80%;
	height: 100%;
}
#partnerPageWrap {
	display:flex;
}

/*파트너 등록폼*/
.partner_form {
    width: 100%;
    height: 100%;
    padding: 0 15%;
    margin-bottom: 20px;
}
.main_title {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partnerAllForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.formBox input[type="text"], input[type="number"], select{
	overflow: visible;
    padding: 0.8em 0.5em;
    margin-bottom: 5px;
    width: 50%;
}
.formBox .postBtn{
	display: block;
    margin-bottom: 20px;
    padding: 5px 15px;
}

.partner_form .partnerBtn{
	width:100%;
    justify-content: center;
    display: flex;
    margin-top: 40px;
}
.partner_form .partnerBtn.form{

	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.partnerBtn input{
	margin: auto;
    padding: 10px 10%;
}
.partner_form img{
	width: 100%;
	
}
.partner_form .comment {
  font-size: 9pt;
}
/* 상품등록 */
.formBox textarea{
	width: 100%;
    resize: none;
}
.formBox #result{
	color: red;
}
.item_wrap{
	width: 100%;
	display: flex;
}
.partner_form .item_wrap input{
	width: 70%;
	padding: 0.8em 0.5em;
}
.partnerAllForm.item{
	display: flex;
    flex-direction: column;
    padding:0px;
    width: 100%;
}
.formBox.item{
	width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addBtn{
	width: 20%;
    padding: 10px 40px;
    margin: auto;
}
.partner_form .addItemList{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.partner_form .addItemList input{
    padding: 0.8em 0.5em;
    margin: 5px;
    width: 50%;
}
.partner_form .addForm{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*파트너 마이페이지*/

.guide_img .before_img {
  background-color: red;
  height: 200px;
}

.main_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  color: #212121;
  line-height: inherit;
}
/*등록상품 리스트*/
.leportsProducts{
	padding: 10px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-around;
}
.partner_list{
	padding: 10px;
    display: flex;
    margin: 10px;
    border-radius: 5%;
    border: 1px solid darkred;
}
.partner_main_img{
    width: 300px;
    height: 200px;
    border: 1px solid black;
}
.partner_main_img img{
	width: 300px;
	height: 200px;
}
.partner_list .partner_item_info{
	width: 100%;
	text-align: center;
	margin: 10% 0%;
}
/* 예약관리 */
.reservationControl{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
}
.rs_content{
	display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .16);
    width: 500px;
}
.rs_content .leports_main_img{
    display: flex;
    width: 50%;
    margin-right: 3%;
}
.rs_content .leports_main_img img{
	width: 200px;
	height: 200px;
    margin: auto;
}
.rs_content .rs_info{
	padding: 10px;
    width: 100%;
}
.rs_content .rs_info .leports_title{
    font-size: 1.4em;
    margin-bottom: 5px;
}
.rs_content .rs_info ul{
	padding: 10px;
}