@charset "UTF-8";
                                              
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap')
	;
body {
  background-color: rgb(255, 255, 255);
  font-size: 0.8em;
}
#SideMenu {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: #B2D0EB;
	padding: 30px 0;
}
#SideMenu h2{
	margin-bottom: 30px;
}
#SideMenu ul li{
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
#SideMenu ul li a{
	font-size: 1.2em;
}
#SideMenu ul li:hover{
	background: #C3D9F0;
}
#partnerContent {
	width: 80%;
	height: 100%;
}
#partnerFormContent{
	width: 100%;
	height: 100%;
}
#partnerPageWrap {
	display:flex;
}

/*파트너 등록폼*/
.partner_form {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 3% 20%;
}
.main_title {
  /* font-size: 20pt; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partnerAllForm {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid black;
}
.title {
  display: flex;
  text-align:left;
  margin-left:10%;
}
.partnerAllForm input[type="text"]{
	padding: .8em 0.5em;
    margin-left:10%;
    margin-bottom:5px;
    width: 50%;
    font-size: 1em;
}

.formBox .comment{
    margin-left:10%;
    margin-bottom:5px;
}
.formBox input[type='file']{
    margin-left:10%;
}
.formBox .guide_img{
	display: flex;
}
.partner_form img {
  max-width: 100%;
}

.comment {
  font-size: 9pt;
  padding-top: 2%;
}

.partnerBtn {
  background-color: rgb(255, 255, 255);
  position: relative;
}

.partnerBtn .submitBtn:hover {
  background-color: rgb(187, 221, 248);
}

.partnerBtn p {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.partnerBtn .submitBtn {
  display:block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px rgb(12, 11, 11) solid;
  background-color: rgb(255, 255, 255); 
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: all 0.9s, color 0.3;
  margin:auto;
}
/*파트너 마이페이지*/

.guide_img .before_img {
  background-color: red;
  height: 200px;
}

.Btn, .addBtn{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: 1px rgb(12, 11, 11) solid;
  margin: 15px auto;
  background-color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  color: #333;
  transition: all 0.9s, color 0.3;
}

.Btn:hover {
  background-color: rgb(187, 221, 248);
}

.btn_wrap {
  display: flex;
}



.main_title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  color: #212121;
  line-height: inherit;
}

.wrap ul {
  list-style: none;
  /* padding: inherit; */
  display: flex;
  background-color: rgb(255, 255, 255);
}

.wrap li {
  padding: inherit;
}

.wrap {
  width: 60%;
  height: 60%;
  position: relative;
  padding: 3% 20%;
  /* text-align: right; */
}

.thead {
  vertical-align: middle;
  border-color: inherit;
  box-sizing: border-box;
  letter-spacing: 0px;
}

.thead li{
  padding-right: 4rem;
}

.tbody {
  color: rgba(33, 33, 33, 0.89);
  font-size: 13px;
  letter-spacing: 0px;
  display: flex;
  vertical-align: middle;
  border-color: inherit;
}

/* 상품 출력될 테이블 라인 */
.thead, .tbody {
  border-bottom: 1px solid #e5e5e5;
  border-top: 0;
  padding: 15px 8px;
  vertical-align: middle;
  font-weight: normal;
  line-height: 1.42857143;
}

.partner_registration_form p{
	display: flex;
    justify-content: center;
}