@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap')
	;

@import
	url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	-ms-user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

ol, ul, dl {
	margin-top: 0;
	margin-bottom: 0;
}

li {
	list-style: none;
	color: black;
}

#wrap {
	min-height: 100%;
	position: relative;
	padding-bottom: 233px; /* footer height */
}

footer {
	width: 100%;
	position: absolute;
	bottom: 0;
}

/* 모달 */
.loginModal, .signUpModal, .findPwModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.hidden {
	display: none;
}

.modalOverlay, .modalOverlay2, .modalOverlay3 {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
}

#loginForm {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	text-align: center;
}

/* 로그인 폼 */
#loginForm .title {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 0;
}

#loginForm .closeBtn {
	position: absolute;
	font-size: 18px;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

#loginForm .login_info {
	margin: 45px 0;
}

#loginForm .login_info .signRow input {
	width: 300px;
	height: 47px;
	margin: 20px 0;
	font-size: 16px;
}

#loginForm .login_info .loginBtn {
	width: 300px;
	height: 45px;
	margin: 30px 0;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

#loginForm .findPw {
	cursor: pointer;
}

#find a {
	color: #6d6d6d;
}

#find a:hover {
	color: #1b1b1b;
}

/* 회원가입 폼 */
#signUpForm {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 550px;
	height: 760px;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	text-align: center;
}

#signUpForm .title,
#findPwForm .title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
}

#signUpForm .closeBtn2 {
	position: absolute;
	font-size: 18px;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

#signUpForm .signRow {
	padding: 10px;
}

#signUpForm .signRow input {
	width: 100%;
	border-radius: 2px;
	border: 0;
	box-shadow: inset 0 0 0 1px #ced4da;
	background-color: #fff;
	font-weight: 500;
	color: #343a40;
	transition: box-shadow .2s ease;
	padding: 10px;
}

.TermPopup {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px 0;
}

.arrowBtn {
	font-size: 12px;
}

#signUpForm .SignUpBtn {
	width: 300px;
	margin-top: 8px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.privacy{
	font-size: 12px;
    width: 540px;
    padding-left: 12px;
    padding-bottom: 13.5px;
}

/* 비밀번호찾기폼 */
#findPwForm {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 500px;
	background-color: #fafafa;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	text-align: center;
}

#findPwForm .closeBtn3 {
	position: absolute;
	font-size: 18px;
	right: 15px;
	top: 15px;
	cursor: pointer;
}

#findPwForm .findPw_info {
	margin: 45px 0;
}

#findPwForm .findPw_info .signRow input {
	width: 300px;
	height: 47px;
	margin: 20px 0;
	font-size: 16px;
}

#findPwForm .findPw_info .findPwBtn {
	width: 300px;
	height: 45px;
	margin: 30px 0;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

/* 이메일체크폼 */
#mailCheckForm {
	width: 50%;
	height: 50%;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
}

#mailCheckFormWrap {
	width: 100%;
	height: 100vh;
	background-color: #f6f9fc;
}

#mailCheckFormWrap #mailCheckForm .mailCheckTitle {
	margin: 50px 0;
	font-size: 40px;
	font-weight: bold;
}

#mailCheckFormWrap #mailCheckForm .mailCheckFormEmail {
	font-weight: bold;
}

#mailCheckFormWrap #mailCheckForm p {
	margin: 40px 0;
}

#mailCheckFormWrap #mailCheckForm button {
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	width: 80px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
}
/* passwdCheck */
#passwdCheckForm {
	width: 30%;
	height: 60%;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	padding: 25px;
}

#passwdCheckContainer {
	width: 100%;
	height: 100vh;
	background-color: #f6f9fc;
}

#passwdCheckContainer #passwdCheckForm .logo, #passwdCheckContainer #passwdCheckForm .title
	{
	font-size: 24px;
	padding-top: 16px;
}

#passwdCheckContainer #passwdCheckForm .useremail {
	font-size: 21px;
	border-radius: 5px;
}

#passwdCheckContainer #passwdCheckForm .comment {
	font-size: 15px;
	padding-top: 16px;
}

#passwdCheckContainer #passwdCheckForm .signRow {
	padding-top: 16px;
}

#passwdCheckContainer #passwdCheckForm .signRow>input {
	width: 80%;
	height: 50px;
}

#passwdCheckContainer #passwdCheckForm .buttonWrap {
	padding-top: 16px;
}

#passwdCheckContainer #passwdCheckForm button {
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	margin-top: 16px;
	width: 80px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
}

/* 비밀번호변경 */
#passwdChangeForm {
	width: 30%;
	height: 60%;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	padding: 25px;
}

#passwdChangeContainer {
	width: 100%;
	height: 100vh;
	background-color: #f6f9fc;
}

#passwdChangeContainer #passwdChangeForm .logo, #passwdChangeContainer #passwdChangeForm .title
	{
	font-size: 24px;
	padding-top: 16px;
}

#passwdChangeContainer #passwdChangeForm .comment {
	font-size: 15px;
	padding-top: 16px;
}

#passwdChangeContainer #passwdChangeForm .signRow {
	padding-top: 16px;
}

#passwdChangeContainer #passwdChangeForm .signRow>input {
	width: 80%;
	height: 50px;
}

#passwdChangeContainer #passwdChangeForm .buttonWrap {
	padding-top: 16px;
}

#passwdChangeContainer #passwdChangeForm .pwCheck {
	height: 16px;
}

#passwdChangeContainer #passwdChangeForm button {
	all: unset;
	cursor: pointer;
	background-color: white;
	padding: 5px 0px;
	margin-top: 16px;
	width: 80px;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
	border: 2px solid rgba(0, 0, 0, 0.2);
	color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-weight: 800;
	font-size: 12px;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1000;
	overflow: hidden;
}

/* recommend */
#recommend_contents {
	width: 100%;
}

#recommend_contents .banner {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 800px;
	background-color: grey;
	text-align: center; /* 임시값 */
	line-height: 800px; /* 임시값 */
}

#recommend_contents .banner_box {
	height: 720px; /* banner height - 헤더 height */
}

#recommend_contents .recommend_title {
	width: 100%;
	height: 300px;
	line-height: 300px;
	text-align: center;
	background-color: #E1E2E1;
}

/* 슬라이더 */
#recommend_contents .recommend_leports_slider {
	height: 500px;
	padding: 32px;
}

#recommend_contents .recommend_leports_slider .swiper-container {
	width: 100%;
	height: 100%;
}

#recommend_contents .recommend_leports_slider .swiper-container .swiper-wrapper .swiper-slide
	{
	text-align: center;
	font-size: 18px;
	background: grey;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	border-radius: 50%;
}

.swiper-button-prev:after, .swiper-button-next:after {
	color: black;
}

/* 슬라이더 끝 */
#recommend_contents .inside1 {
	background-color: #E1E2E1;
	text-align: center;
	padding: 100px 0;
}

#recommend_contents .inside2 {
	background-color: grey;
	text-align: center;
	padding: 100px 0;
}

.leports_list_menu {
	padding-top: 14px;
}

/* 레포츠 리스트 */
#leports_list .leports_item img {
	width: 100%;
	object-fit: cover;
	height: 200px;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
}

#leports_list .leports_list_menu a {
	border: 1px solid #F2F3F5;
	border-radius: 8px;
	margin: 0 2px;
}

#leports_list .leports_list_sort {
	float: right;
	margin: 5px 0;
}

#leports_list .leports_items {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#leports_list .leports_items .leports_item {
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .16);
	width: 300px;
	height: 350px;
	margin: 10px;
}

#leports_list .leports_item_info {
	padding: 10px 16px 16px 16px;
}

#leports_list .leports_item_info li {
	margin-top: 3px;
}

#leports_list .leports_item_loc {
	font-size: 13px;
	color: #A8AEB3;
}

#leports_list .leports_item_title {
	font-weight: bold;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#leports_list .leports_item_summary {
	font-size: 14px;
	color: #656E74;
}

#leports_list .leports_item_review_star {
	font-size: 15px;
	color: #51ABF3;
}

#leports_list .leports_item_review {
	font-size: 13px;
	color: #A8AEB3;
}

#leports_list .leports_item_price {
	font-size: 16px;
	color: #565C61;
}

/* 레포츠 리스트 nav*/

.leports_detail_menu {
	padding-top: 14px;	
}

#leports_Detail_Nav {
	position: sticky;
	top:0;
	left:0;
	background-color: white;
	padding-bottom: 10px;
}

#leports_Detail_Nav .leports_detail_menu a {
	border: 1px solid #F2F3F5;
	border-radius: 8px;
	margin: 0 2px;
}

/* 레포츠 디테일 */
#leports_Detail .leports_detail_wrap {
	display: flex;
	justify-content: space-between;
}

#leports_Detail .side_nav {
	width: 320px;
	height: 255px;
	line-height: 70px;
	position: -webkit-sticky;
	position: sticky;
	top: 65px;
	border: 1px solid #E9ECEF;
	border-radius: 4px;
	text-align: center;
	background-color: #F5F6F7;
	box-shadow: 0 4px 8px 0 rgba(33, 37, 41, .1), 0 0 0 1px #e9ecef;
}

.side_nav_contents {
	margin: 10px;
	border: 1px solid #E9ECEF;
	border-radius: 4px;
	background-color: #FFFFFF;
}

.current_amount {
	font-size: 22px;
	font-weight: bold;
}

.js_total_amount2 {
	font-size: 20px;
	font-weight: bold;
	color: #343B3F;
}

.contentsWrap {
	margin: 0 10%;
}

#leports_Detail .contents {
	width: 70%;
}

#leports_Detail .leports_review_star {
	color: #51ABF3;
}

#leports_Detail .leports_review_cnt {
	color: #838C94;
}

#leports_Detail .leports_main_title {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 15px;
}

#leports_Detail .leports_ticket {
	font-size: 22px;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 16px;
}

/* 달력 */
.calendar_wrap {
	border: 1px solid #E9ECEF;
	display: flex;
	justify-content: center;
}

.scriptCalendar a {
	color: #000000;
	text-decoration: none;
}

.scriptCalendar {
	text-align: center;
}

.scriptCalendar>thead>tr>td {
	width: 70px;
	height: 70px;
}

.scriptCalendar>thead>tr:first-child>td {
	font-weight: bold;
}

.scriptCalendar>thead>tr:last-child>td {
	background-color: #f0f3f5;
}

.scriptCalendar>tbody>tr>td {
	width: 70px;
	height: 70px;
}
/* 레포츠 아이템 목록 */
#leports_Detail .leports_item_list {
	border: 1px solid #E9ECEF;
	background-color: #F5F6F7;
}

#leports_Detail .list_item_info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #E9ECEF;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 rgba(33, 37, 41, .1), 0 0 0 1px #e9ecef;
	background-color: #FFFFFF;
	margin: 10px;
	padding: 12px;
}

#leports_Detail .string_day {
	margin: 15px 11px;
	font-size: 18px;
	font-weight: bold;
}

#leports_Detail .leports_item_title {
	font-size: 18px;
	font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#leports_Detail .leports_item_summary {
	color: #656E74;
}

#leports_Detail .leports_item_mc {
	font-size: 13px;
	color: #A8AEB3;
}

#leports_Detail .leports_item_price {
	font-size: 18px;
	font-weight: bold;
}

#leports_Detail .person {
	font-size: 13px;
	color: #656E74;
}

.qty {
	width: 160px;
}

.qty .count {
	color: #000;
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	padding: 0 2px;
	min-width: 35px;
	text-align: center;
}

.qty .plus {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	font: 30px/1 Arial, sans-serif;
	text-align: center;
	border-radius: 50%;
}

.qty .minus {
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	font: 30px/1 Arial, sans-serif;
	text-align: center;
	border-radius: 50%;
	background-clip: padding-box;
}

.qty div {
	text-align: center;
}

.qty input {
	border: 0;
	width: 2%;
}

#leports_Detail .leports_img_wrap {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
	height: 400px;
	overflow: hidden;
}

#leports_Detail .leports_items_img {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

#leports_Detail .leports_items_img .leports_item_main_img {
	object-fit: cover;
	height: 400px;
}

#leports_Detail .mainImg {
	flex: 50%;
	max-width: 50%;
	padding: 0 4px;
	height: 400px;
}

#leports_Detail .leports_items_img img {
	height: 50%;
	margin-top: 8px;
	vertical-align: middle;
	width: 100%;
	border-radius: 2px;
	border: 1px solid #E5E5E5;
}

.side_nav_btn {
	width: 280px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1400px) {
	#leports_Detail .side_nav {
		width: 200px;
	}
	.side_nav_btn {
		width: 176px;
	}
}

@media screen and (max-width: 1000px) {
	#leports_Detail .contents {
		width: 100%;
	}
	#leports_Detail .side_nav {
		display: none;
	}
	
	
}

@media screen and (max-width: 800px) {
	#leports_Detail .leports_items_img {
		flex: 50%;
		max-width: 50%;
	}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	#leports_Detail .leports_items_img {
		flex: 100%;
		max-width: 100%;
	}
}

#leports_Detail .select_item_price {
	color: #485155;
}

#leports_Detail .select_item_info {
	display: flex;
	justify-content: space-between;
	margin: 18px 25px;
	font-size: 14px;
	color: #848c94;
}

#leports_Detail .total_price_css {
	text-align: right;
	margin: 18px 25px;
	font-weight: bold;
}

#leports_Detail .paymentBtn {
	margin-top: 18px;
	margin-bottom: 50px;
	float: right;
}

.leports_review_star {
	color: #51ABF3;
}

.review_title {
	font-size: 22px;
	font-weight: bold;
	margin-top: 32px;
	margin-bottom: 16px;
}

.review_list {
	margin: 12px 0;
}

.review_regidate {
	font-size: 14px;
	color: #656E74;
}

.review_btn_wrap {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}

/* 중고거래 */
#Resale_list .trade_nav {
	padding-top: 14px;
	padding-bottom: 30px;
}

#Resale_list .trade_nav a {
	border: 1px solid #F2F3F5;
	border-radius: 8px;
	margin: 0 2px;
}

#Resale_list .productsList {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#Resale_list .trade_list {
	border-radius: 4px;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .16);
	width: 300px;
	height: 300px;
	margin: 10px;
}

#Resale_list .trade_list img {
	width: 100%;
	object-fit: cover;
	height: 200px;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
}

#Resale_list .trade_item_info {
	padding: 10px 16px 16px 16px;
}

#Resale_list .trade_item_info li {
	margin-top: 8px;
}

#Resale_list .trade_item_price {
	font-size: 16px;
	color: #565C61;
}

/* trade_recomments 대댓글 기능 - 혜빈 */
.comment_cont.re {
	background: #f7f9fa;
	padding: 15px 0px 15px 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
}

.comment_cont.re:first-child{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.re_ico{
	top: 24px;
	background: 0 0;
	border-width: 0 0 1px 1px;
	border-style: solid;
	opacity: .4;
	width: 10px;
	height: 10px;
	display: inline-block;
}
.re_box{
	padding-left: 14px;
}
.trade_main_img {
	width: 100%;
}

.trade_main_img>img {
	width: 100%;
	object-fit: cover;
	height: 135px;
}

.trade_main_img2 {
	width: 60%;
}

.trade_img li {
	display: flex;
	justify-content: center;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
}

.trade_img div {
	display: flex;
}

.trade_img div img {
	width: 100%;
}

.trade_title {
	color: red
}

#Resale_list section {
	width: 70%;
}

.products_info {
	padding-top: 14px;
}

.products_info .item_info_title{
	display: flex;
	justify-content: space-between;
}
.text_info .item_info_title {
	margin-top: 4px;
	font-size: 22px;
	font-weight: 600;
	line-height: 1.76;
	letter-spacing: -0.6px;
}

.text_info .item_info_regidate {
	margin-top: 4px;
	font-size: 13px;
	line-height: 1.46;
	letter-spacing: -0.6px;
	color: #868e96;
}

.text_info .item_info_user {
	margin-top: 12px;
	font-size: 17px;
	line-height: 1.76;
	letter-spacing: -0.6px;
}

.text_info .item_info_price {
	margin-top: 4px;
	font-size: 17px;
	font-weight: 600;
	line-height: 1.76;
	letter-spacing: -0.6px;
}

.text_info .item_info_phone {
	margin-top: 4px;
	font-size: 15px;
	line-height: 1.76;
	letter-spacing: -0.6px;
}

#Resale_list .products_info .text_info li, .trade_contents {
	padding: 5px;
}

#Resale_list .commentBtn {
	margin-top: 5px;
	float: right;
}

#Resale_list .comment_regidate {
	font-size: 12px;
	padding: 10px 0px;
}
.replyBtn{
	margin-bottom: 15px;
}
.replyBox{
	margin-top: 15px;
	display: flex;
}
.replyBox textarea{
	width: 90%;
}
.replyBox button{
	width: 10%;
}

/* 리뷰 별점 */
/* 레이아웃 외곽 너비 400px 제한*/
#reviewWrite .wrap {
	max-width: 480px;
	/* margin: 0 auto; 화면 가운데로 */
	background-color: #fff;
	height: 100%;
	padding: 20px;
	box-sizing: border-box;
}

#reviewWrite .reviewform textarea {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

#reviewWrite .rating .rate_radio {
	position: relative;
	display: inline-block;
	z-index: 20;
	opacity: 0.001;
	width: 60px;
	height: 60px;
	background-color: #fff;
	cursor: pointer;
	vertical-align: top;
	display: none;
}

#reviewWrite .rating .rate_radio+label {
	position: relative;
	display: inline-block;
	margin-left: -4px;
	z-index: 10;
	width: 30px;
	height: 30px;
	background-image: url('../images/starrate.png');
	background-repeat: no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	background-color: #f0f0f0;
}

#reviewWrite .rating .rate_radio:checked+label {
	background-color: red;
}

#reviewWrite .warning_msg {
	display: none;
	position: relative;
	text-align: center;
	background: #ffffff;
	line-height: 26px;
	width: 100%;
	color: #ff0000;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #e0e0e0;
}

/* 결제페이지 */
.payment_form_wrap {
	background-color: #f5f6f7;
}

.payment_form {
	margin: 0 10%;
}

.payment_contents_wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}

.PRODUCT_INFORMATION, .payment_contents {
	background-color: #FFFFFF;
	padding: 24px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
}

.PRODUCT_INFORMATION {
	width: 35%;
}

.payment_contents {
	width: 55%;
	display: flex; flex-direction : column;
	justify-content: space-between;
	flex-direction: column;
}

.payment_header_title {
	padding-top: 56px;
	margin-bottom: 24px;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.07;
	letter-spacing: -0.42px;
	color: #343a40;
}

.payment_leports_item_info img {
	border-radius: 4px;
}

.payment_leports_item_info .leports_title {
	font-size: 17px;
	font-weight: 600;
	line-height: 1.41;
	color: #343a40;
	margin: 10px 0;
}

.payment_leports_item_info .rs_date {
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	color: #495056;
}

.payment_leports_item_info .leports_item_title {
	font-size: 14px;
	color: #495056;
	line-height: 1.43;
	margin-bottom: 6px;
}

.payment_leports_item_info .rs_price {
	display: flex;
	justify-content: space-between;
	color: #848c94;
	line-height: 1.14;
	font-size: 14px;
}

.payment_leports_item_info .rs_price .item_total_price {
	color: #495056;
	line-height: 1.14;
	font-size: 16px;
}

.payment_leports_total_price {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 800px) {
	.payment_contents_wrap {
		display: block;
	}
	.PRODUCT_INFORMATION {
		width: 100%;
	}
	.payment_contents {
		width: 100%;
	}
}

.TRAVELER_INFORMATION {
	margin-top: 15px;
	margin-bottom: 50px;
}

.RETURN_POLICY {
	width: 100%;
	padding: 5px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 12px;
	margin-top: 15px;
	margin-bottom: 50px;
}

/* 예약성공 */
#kakaoPaySuccess {
	display: flex;
	flex-direction: column;
	width: 50%;
	height: 50%;
	text-align: center;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px
		rgba(0, 0, 0, 0.08);
}

.kakaoPayTitle {
	margin-top: 50px;
	font-size: 40px;
	font-weight: bold;
}

.kakaoPayName, .kakaoPayItemName, .kakaoPayQuantity, .kakaoPayTotal {
	margin: 10px;
}

#kakaoPaySuccess button {
	margin-top: 40px;
    width: 400px;
    margin: auto;
}

#trade_write_div {
	background-color: #f5f6f7;
}

#trade_write_div form {
	margin: 0 20%;
}

.trade_write_info {
	display:flex;
}

.trade_write_info .trade_first_row_info {
	width: 30%;
	margin-right: 10px;
}

.trade_btns {
	text-align: right;
	margin: 10px 0;
}

.trade_btns input {
	margin-left: 4px;
}

/* 중고거래 슬라이더 */
.carousel-inner img {
    height: 500px;
    background-position: center center;
    background-size: cover;
    object-fit: contain;
}

.reservation_detail_title {
	display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.reservation_detail_item {
	display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #7C7C7D;
}

.reservation_detail_main_title {
	font-size: 21px; 
	padding-left: 14px; 
	color: #7C7C7D;
}

/*관리자페이지, 마이페이지, 파트너페이지 좌측 Nav*/
#SideMenu {
	min-height: 1000px;
	height: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	font-size: 1rem;
	width: 320px;
	line-height: 70px;
	position: -webkit-sticky;
	background-color: #F5F6F7;
	box-shadow: 0 4px 8px 0 rgba(33, 37, 41, .1), 0 0 0 1px #e9ecef;
}

#SideMenu h3{
	margin-bottom: 30px;
	color:black;
}
#SideMenu a{
	font-size: 1.2rem;
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	color: black;
	text-decoration: none;
}
#SideMenu a:hover{
	background: #e9ecef;
}
