<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper">
	<select id="MemberList" resultType="MemberDTO">
		select user_id, user_name, user_email, user_verify, partner_verify from member
	</select>
	<select id="PartnerList" resultType="PartnerDTO">
		select c_name, c_postnum, c_address, c_detail_address, c_partner_license_num, partner_license_dosc from partner
	</select>
</mapper>
