<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LeportsMapper">
	<resultMap type="PartnerDTO" id="partner">
		<result column="c_address" property="c_address"></result>
		<result column="c_detail_address" property="c_detail_address"></result>
		<result column="c_phone" property="c_phone"></result>
	</resultMap>

	<resultMap type="LeportsDTO" id="leports">
		<result column="leports_id" property="leports_id"></result>
		<result column="leports_title" property="leports_title"></result>
		<result column="leports_loc" property="leports_loc"></result>
		<result column="leports_regidate" property="leports_regidate"></result>
		<result column="leports_main_img" property="leports_main_img"></result>
		<result column="leports_sub_img1" property="leports_sub_img1"></result>
		<result column="leports_sub_img2" property="leports_sub_img2"></result>
		<result column="leports_sub_img3" property="leports_sub_img3"></result>
		<result column="leports_sub_img4" property="leports_sub_img4"></result>
		<result column="leports_content" property="leports_content"></result>
	</resultMap>
	
	<resultMap type="LeportsItemDTO" id="leportsItem">
		<result column="leports_item_title" property="leports_item_title"></result>
		<result column="leports_summary" property="leports_summary"></result>
		<result column="leports_price" property="leports_price"></result>
		<result column="leports_max_capacity" property="leports_max_capacity"></result>
	</resultMap>
	
	<resultMap type="LeportsThumbnailDTO" id="thumbnailDTO">
		<collection property="leports" resultMap="leports"></collection>
		<collection property="leportsItem" resultMap="leportsItem"></collection>
	</resultMap>
	
	<resultMap type="LeportsDetailDTO" id="detailDTO">
		<collection property="partner" resultMap="partner"></collection>
		<collection property="leports" resultMap="leports"></collection>
		<collection property="leportsItem" resultMap="leportsItem"></collection>
	</resultMap>
	
	<select id="leportsList" parameterType="hashmap" resultType="LeportsThumbnailDTO">
		select l.leports_id, l.leports_title, l.leports_main_img,
		l.leports_loc,
		litem.leports_summary, litem.leports_price
		from leports l
		join leports_item litem
		on l.leports_id = litem.leports_id
		<choose>
			<when test="type != null and type != 'all'">
				where leports_type = #{type} order by l.leports_id
			</when>
			<when test="loc == '기타'">
				where leports_loc not in('서울','인천','경기','강원', '충청', '경상', '부산','전라') order by leports_id
			</when>
			<when test="loc != null and loc != 'all'">
				where leports_loc = #{loc} order by l.leports_id
			</when>
			<otherwise>
				order by l.leports_id, litem.leports_price
			</otherwise>
		</choose>
	</select>
	
	<select id="leportsDetailSelect" parameterType="String" resultType="LeportsDetailDTO">
		select l.leports_title, l.leports_main_img, l.leports_sub_img1, l.leports_sub_img2, l.leports_sub_img3, l.leports_sub_img4,
			to_char(l.leports_regidate, 'yyyy-mm-dd') leports_regidate,
			litem.leports_item_title, litem.leports_summary, litem.leports_price, litem.leports_max_capacity,
			p.c_address, p.c_detail_address, p.c_phone, l.leports_content
		from partner p
		join leports l
		on l.partner_id = p.partner_id
		join leports_item litem
		on l.leports_id = litem.leports_id
		where l.leports_id = #{leports_id}
	</select>
	
	<select id="reviewAll" parameterType="string" resultType="LeportsReviewDTO">
		select review_id, leports_id, reservation_id, user_id, user_name, review_comments, to_char(review_regidate, 'yyyy-mm-dd') review_regidate
		from reservation_review where leports_id = #{leports_id}
	</select>

</mapper>