<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TradeMapper">
	<select id="selectTrade" parameterType="String"
		resultType="TradeDTO">
		select trade_main_img,trade_title,trade_price, trade_id
		from trade
		where trade_type=#{trade_type}
	</select>
	<select id="selectSelf" parameterType="String"
		resultType="TradeDTO">
		select trade_main_img,trade_title,trade_price, trade_id
		from trade
		where user_id=#{user_id}
	</select>
	<insert id="tradeWrite" parameterType="TradeDTO">
		insert into trade
		values('T'||trade_seq.nextval,#{user_id},#{trade_main_img},#{trade_sub_img1},#{trade_sub_img2},#{trade_sub_img3},#{trade_sub_img4},#{trade_title},#{trade_contents},#{trade_type},#{trade_loc},#{trade_phone},#{trade_user_name},#{trade_price},sysdate,#{trade_hit})
	</insert>
	<select id="selectItem" parameterType="String"
		resultType="TradeDTO">
		select * from trade where trade_id=#{trade_id}
	</select>
	<!-- <select id="CommentList" parameterType="String" resultType="TradeCommentsDTO"> 
		select * from trade_comments where trade_id=#{trade_id} order by comment_regidate 
		desc </select> -->

	<insert id="ReCommentWrite" parameterType="TradeCommentsDTO">
		insert into trade_comments values('TC'||trade_comment_seq.nextval,#{trade_id},#{user_id},#{trade_comment},sysdate,#{trade_comment_level},#{trade_depth})
		<selectKey keyProperty="trade_comment_id" resultType="String" order="AFTER">
			SELECT 'TC'||trade_comment_seq.currval from dual
		</selectKey>
	</insert>
	<insert id="CommentWrite" parameterType="TradeCommentsDTO">
		insert into trade_comments
		values('TC'||trade_comment_seq.nextval,#{trade_id},#{user_id},#{trade_comment},sysdate,'TC'||trade_comment_seq.currval,#{trade_depth})
	</insert>
	<select id="CommentRegidate" parameterType="String" resultType="String">
		select comment_regidate from trade_comments where trade_comment_id=#{trade_comment_id}
	</select>
	
	<select id="CommentList" parameterType="String"
		resultType="TradeCommentsDTO">
		select * from trade_comments where trade_id=#{trade_id}
		order by trade_comment_level desc,comment_regidate asc
	</select>
	
	<delete id="CommentDel" parameterType="String">
		delete from trade_comments where trade_comment_id=#{trade_comment_id}
	</delete>
	<delete id="CommentDel2" parameterType="String">
		delete from trade_comments where trade_comment_level=#{trade_comment_level}
	</delete>
</mapper>